
@font-face {
  font-family: 'electronicFont2';
  src: url("font/DS-Digital/DS-DIGIB-2.ttf");
}
@font-face {
  font-family: 'electronicFont1';
  src: url("font/DS-Digital/DS-DIGI-1.ttf");
}

body {
  font-family: Arial, sans-serif;
  background-color: black;
  display: inline;
  background: url("./img/background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  align-items: center;
  text-align: center;
}

button {
  padding: inherit;
  border-style: none;
}

table {
  display: flex;
  justify-content: space-around;
}

h1 {
  text-align: center;
  font-family:'Microsoft YaHei';
  font-size: 40px;
  color:aliceblue;
  text-shadow: 0 3px 0px rgba(255,255,255,0.4);
}

.score {
  background-color: beige;
  color: brown;
  width: 40px;
  height: 60px;
  line-height: 40px;
  font-size: xx-large;
  font-family: 'electronicFont2';
}

.inning {
  background-color: beige;
  width: 40px;
  height: 60px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  font-size: xx-large;
  font-family: 'electronicFont1';
}

.ball {
  background-color: beige;
  width: 25px;
  align-items: center;
  text-align: center;
  font-size: xx-large;
  font-family: 'electronicFont1';
}
.Ball {
  background-color: beige;
  width: 25px;
  align-items: center;
  text-align: center;
  font-size: xx-large;
}

th {
  border: 5px solid black;
  border-radius: 5%;
}

th[scope="score"] {
  background-color: beige;
  color: brown;
  width: fit-content;
  height: 60px;
  line-height: 40px;
}

th[scope="inning"] {
  background-color: beige;
  height: 60px;
  line-height: 40px;
  align-items: center;
  text-align: center;
}

th[scope="out"] {
  background-color: beige;
  height: 60px;
  line-height: 40px;
  align-items: center;
  text-align: center;
}

th[scope="ball"] {
  background-color: beige ;
  align-items: center;
  text-align: center;
}

.scoreboard {
  display: flex;
  justify-content: space-around;
  display: block;
  text-align: center;
  align-items: center;
  position: absolute;
  top:50%;
  left:50%;
  margin-left:-600px;
  margin-top:-170px;
  width: 1200px;
  background-color: rgba(0,0,0,0.6);
  border-radius: 5%;
  transition: 0.2s;
  border: 5px solid white;
  line-height: 40px;
}

.inputText {
  width: auto;
  height: 54px;
  line-height: 40px;
  font-size: x-large;
  font-family: 'STLiti';
  background-color: beige;
  text-align: center;
  word-break: break-all;
}

/* triangles */
.triangle {
  width: 40px;
  height: 60px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  background-color: beige;
  writing-mode: vertical-lr;
  float: left;
  color: grey;
  font-size: x-large;
}

.function {
  text-align: center;
}
