body {
  font-family: Arial, sans-serif;
  background-color: black;
  display: inline;
  background: url("./img/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

button {
  padding: inherit;
  border-style: none;
}

table {
  display: flex;
  justify-content: space-around;
}

h1 {
  text-align: center;
  font-family:'Microsoft YaHei';
  color:aliceblue;
}

.score {
  background-color: beige;
  color: brown;
  width: 60px;
  height: 70px;
  line-height: 40px;
  font-size: xx-large;
}

.inning {
  background-color: honeydew;
  width: 40px;
  height: 70px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  font-size: x-large;
}

.ball {
  background-color: palegoldenrod;
  width: 30px;
  height: 50px;
  align-items: center;
  text-align: center;
  font-size: x-large;
}

th[scope="score"] {
  background-color: beige;
  color: brown;
  width: 60px;
  height: 60px;
  line-height: 40px;
}

th[scope="inning"] {
  background-color: honeydew;
  height: 60px;
  line-height: 40px;
  align-items: center;
  text-align: center;
}

th[scope="out"] {
  background-color: lightblue;
  height: 60px;
  line-height: 40px;
  align-items: center;
  text-align: center;
}

th[scope="ball"] {
  background-color: palegoldenrod ;
  align-items: center;
  text-align: center;
  font-size: x-large;
}

.scoreboard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  background-color: black;
  border-radius: 20%;
  border: 1px solid white;
  width: 70%;
}

.inputText {
  width: 250px;
  height: 60px;
  line-height: 40px;
  font-size: x-large;
  background-color: lightblue;
  text-align: center;
  font-family: 'STLiti';
}

/* triangles */
.triangle {
  width: 40px;
  height: 70px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  background-color: honeydew;
  writing-mode: vertical-lr;
  float: left;
  color: grey;
  font-size: x-large;
}

.function {
  text-align: center;
}
